/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */
/* styles for the custom element itself - lowest specificity */

#panel {
    background: linear-gradient(to right, #464442 0%, #60605d 140px, #60605d 100%);
    padding: 0.3em;
    padding-top: 0.5em;
    padding-left: 1em;
    border-top: 0.1em solid #888;
    border-left: 0.1em solid #888;
    border-right: 0.1em solid #383838;
    border-bottom: 0.1em solid #383838;
    outline: 0.1em solid #282828;
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    &.short {
        width: 90%;
        margin-left: 2%;
        padding-top: 1em;
    }
    &.low-padding{
        padding: 10px!important;
    }
    #title {
        position: absolute;
        top: -0.3em;
        left: 0.3em;
        font-weight: bold;
        font-size: 0.8em;
        color: #aeaeae !important;
        text-shadow: 3px 0 1px black, -3px 0 1px black, 0 -3px 1px black, 0 3px 1px black,;
    }
}

.light-text {
    font-family: FFVIII;
    font-size: 26px;
    color: #eee;
    text-shadow: 0.05em 0.05em 1px rgba(168, 168, 168, 0.5), 0.125em 0.125em 1px rgba(50, 50, 50, 1);
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 140%;
}

:host {
    display: flex;
    flex: 1;
    margin: 5px;
}
::content {
    * /deep/ [right] {
        text-align: right;
        float:right;
    }
    .hideChild{
        opacity: 0;
    }
}
